<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/historial.css">
  <script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script>

  <title>Historial</title>
</head>

<body>
  <div class="Container">
    <div class="historicalContainer">
      <div class="headerContainer">
        <div class="historicalTitle">
          <h1>Historial de Busqueda</h1>
        </div>
        <div class="searchContainer">
          <input class="input" type="text" id="searchInput" name="searchInput" placeholder="Filtrar por: dominio/busqueda ">
          <button class="button" id="emojiIcon">🤔</button>
        </div>
      </div>
      <div class="cardsContainer" id="cardsContainer"></div>
    </div>
  </div>

  <script src="../js/historialPage.js"></script>
  
  
</body>

</html>